.text {
    font-family: 'Montserrat', sans-serif;
}

.date {
    color: #838D9A;
    font-size: 14;
    margin-bottom: 0;
}

.welcome {
    font-size: 26;
    margin-top: 0;
}

.subtitle {
    font-size: 18;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: -10px;
}