.main-screen-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header h1 p{
    display: block;
}

.summary-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.daily-summary {
    flex: 3;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.image-container {
    background-color: #f7f7f7;
    margin-left: 20px;
    flex: 1;
}

.image-container img{
    max-width: 80px;
}

.brighten-day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.data-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.data-block {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
}

.weekly-summary {
    margin-top: 20px;
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.graph-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.graph-container {
    align-items: center;
    max-width: 300px;
    max-height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 20px;
}

.graph-container img {
    max-width: 100%;
}

.graph-container button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

.graph-container button.active {
    text-decoration: underline;
}


button{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.70);
    border: none;
    padding: 8px;
    font-weight: bold;
}