.App {
    background: linear-gradient(169deg, rgba(203, 252, 150, 0.60) -6.94%, rgba(215, 233, 255, 0.60) 94.66%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .moodSurvey {
    text-align: center;
  }
  
  .moodButton {
    border: none;
    background: none;
    cursor: pointer;
  }

  .moodButton .selected img {
    border: 2px solid #89CF3C; /* Choose the border color when selected */

}
  
  .moodButton img {
    width: 100px;
    height: 100px;
  }
  
  .customButton {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  #test{
    background-color: grey;
  }
  
  .customButton:hover {
    background-color: #45a049;
  }
  
  .moodOptions, .buttonOptions {
    display: flex;
    justify-content: center;
  }
  
  .dummyPage {
    text-align: center;
    padding: 50px;
  }
  