.box {
    height: 60px;
    width: 190px;
  }
  
  .box .rectangle {
    background-color: #ffffffcc;
    border-radius: 15px;
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 190px;
  }