.box {
    height: 173px;
    width: 108px;
  }
  
  .box .group {
    height: 173px;
    left: 0;
    position: fixed;
    top: 0;
    width: 108px;
  }
  
  .box .overlap-group {
    height: 173px;
    position: relative;
  }
  
  .box .rectangle {
    background-color: #ffffffcc;
    border-radius: 15px;
    height: 160px;
    left: 0;
    position: absolute;
    top: 0;
    width: 108px;
  }
  
  .box .img {
    height: 153px;
    left: 7px;
    position: absolute;
    top: 20px;
    width: 86px;
  }